
<!-- סרגל הלחצנים -->
<div class="navbar">
  <button id="runJob" (click)="runJobFromDate()">עדכון גיל-רשומות</button>
  <button id="openMenModalButton" (click)="openMenModal()">הוסף איש</button>
  <button id="openWomenModalButton" (click)="openWomenModal()">הוסף אישה</button>
  <button (click)="openMatchModal()">התאמות</button>
</div>
<app-search></app-search>

><!--<div class="home-container">-->
<!--  <h1>ברוכים הבאים</h1>-->
<!--  <button (click)="onClick()">לחץ כאן</button>-->
<!--</div>-->


