* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 textarea {
            direction: rtl;
        }

        /* סגנון לסרגל הלחצנים */
        .navbar {
            background-color: blue; /* רקע כחול */
            padding: 15px; /* מרווח בין הלחצנים */
            text-align: right; /* מיקום הלחצנים לימין */
        }

        /* סגנון לכפתורים בסרגל הלחצנים */
        .navbar button {
            background-color: #4CAF50; /* רקע ירוק */
            color: white; /* צבע טקסט לבן */
            border: none; /* אין גבול לכפתור */
            padding: 10px 20px; /* גודל הכפתור */
            text-align: center; /* מיקום הטקסט בתוך הכפתור */
            text-decoration: none; /* אין קו תחתון לטקסט */
            display: inline-block; /* טקסט באותו שורה כל עם הכפתור */
            font-size: 16px; /* גודל הטקסט */
            margin: 4px 2px; /* מרווח בין הכפתורים */
            cursor: pointer; /* סמן העכבר כעטוף */
            border-radius: 8px; /* עיגול קצוות */
        }

        .navbar button:hover {
             background-color: #0056b3; /* צבע רקע כחול בהיר בעת לחיצה */
        }

